body {
    background: rgb(82, 215, 248);
    position: relative;
    /* background-image: url('../image/dog2.png'); */
    /* background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; */
}

h1 {
    text-align: center;
    font-size: 2.3cm;
    color: rgb(255, 255, 255);
    font-family: 'Acme', sans-serif;
}

small {
    margin-top: 11%;
    text-align: center;
    font-size: 1.3cm;
    color: rgb(255, 255, 255);
}

#homeContent {
    text-align: center;
    background: rgb(82, 215, 248);
    margin-top: 23%;
    /* margin-left: 2.8em;
    height: 450px;
    width: 800px; */
}

.nav-link {
    font-weight: bold;
    color: rgb(158, 252, 220);
}

.navbar-brand {
    font-style: italic;
    font-weight: bolder;
}

#indContent {
    padding-top: 50px;
    height: 500px;
}